*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration:none;
    list-style: none;

}

body{
    background: rgb(241,241,241);
}
/* header */
.header{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    justify-content:space-between;
    z-index: 100;
}
.logo{
    font-size: 30px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}
.logo:hover{
    color: orangered;
    text-shadow: 0 0 25px orangered,
                 0 0 50px orangered;
    transform: scale(1.1);          
}
span{
    color: orangered;
}
.navbar a{
    font-size: 20px;
    color: white;
    font-weight: 500;
    margin: 0 10px;
    transition: 0.3s ease; 
}
.navbar a:hover,
.navbar a:active{
    color: orangered;
    text-decoration: none;
    border-bottom: 3px solid orangered;
}
#menu-icon{
    color: white;
    display: none;
    font-size: 4rem;
}

.navbar .contact,
.navbar .cv{
    padding: 10px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    transform: 0.3s ease;
}
.navbar .contact:hover,
.navbar .cv:hover{
    background-color: orangered;
    /* box-shadow: 0 0 25px orangered; */
    color: white;
}

/* end header */

/* home */
.home{
    display: flex;
    width:100%;
    min-height:100vh;
    background: rgb(241,241,241);
    align-items: center;
    gap: 7em;
    padding: 40px 12% 0;
}
.home-content{
    max-width: 800px;
}
.home-content h3{
    font-size: 42px;
}
.home-content h1{
    font-size: 62px;
    list-style: 1.2;
}
.home-content p{
    font-size: 20px;
    margin: 25px 0 30px;
}
.btn-box{
    width: 345px;
    display: flex;
    gap:2em;
}
.btn-1{
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 200;
    cursor:pointer;
}
.btn-1:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
}

.home-content .social a{
    font-size: 24px;
    color: black;
    border: 5px solid orangered;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 60px 3px;
    gap:15px;
    
    box-shadow: inset 0 0 10px orangered,
                      0 0 10px orangered;
    transition: 0.3s ease;                  
}
.home-content .social a:hover{
    color: orangered;
    transform: scale(1.2);
    border: 2px solid orangered;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: orangered;
}
::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.6);
    width:50px;
}

/* endhome */

/* about */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10rem;
    background: black;
}
.about-img{
    border-radius: 50%;
}
.about-img img{
    position: relative;
    border-radius: 50%;
    box-shadow: 0 0 25px orangered,
                0 0 50px orangered;
}
.about-content h2{
    text-align: left;
    color: white;
    font-size: 42px;
}
.about-content h3{
    font-size: 62px;
    color: white;
}
.about-content p{
    color: white;
    font-size: 19px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2em 0 3em;
}

.about .cv{
    padding: 10px 28px;
    background-color: orangered;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    transform: 0.3s ease;
}
.about .cv:hover{
    background-color: white;
        /* box-shadow: 0 0 25px orangered; */
    color: black;
}
    


/* endabout */

/* service */
.services{
    color: black;
}
.services .heading{
    font-size: 30px;
}
.services h2{
    margin-top: 3%;
    text-align: center;
}
.service-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}
.service-box{
    flex: 1 1 10rem;
    background:orangered;
    margin-top:4%;
    padding: 3rem 2rem 4rem;
    border-radius: 3rem;
    text-align: center;
    border: 10px 5px solid orangered;
    height: 400px;
    width: 300px;
    margin:4% 15%;
}
.service-box:hover{
    color: whitesmoke;
}
.service-box i{
    font-size: 7rem;
    color: whitesmoke;
}
.service-box h3{
    font-size: 20px;
}
.service-box p{
    font-size: 18px;
    line-height: 25px;
    margin: 1rem 0 3rem;

}
/* end-service */

/* projects */

.project .heading{
    font-size: 30px;
}

.project h2{
    margin-top: 4rem;
    text-align: center;
}
.project-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    margin-top: 20px;
}
.project-content .project-box{
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
}
.project-box img{
    width: 100%;
    border-radius: 2rem;
}
.project-box{
    position: absolute;
    width: 100%;
    height: 100%;
    display: inline;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
}
.project-box .click{
    padding: 2% 31%;
    background-color: rgb(143, 140, 140);
    backdrop-filter: blur(5px);
    position: absolute;
    bottom: 0%;
    border-radius: 2rem;
    transform: translateY(-5%);
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    
}
 

/* end-projects */

/* contact */
.contact-form h2{
    text-align: center;
    margin-top: 2em;
    font-size: 36px;
}
.contact-form form{
    max-width: 50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}
.contact-form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact-form .input-box input,
.contact-form textarea{
    width: 100%;
    padding: 1.5em;
    font-size: 18px;
    background: rgb(241,241,241);
    border-radius: 0.8rem;
    margin: 1rem 0;
    resize: none;
    backdrop-filter: blur(20px);
}
/* end-contact */

/* footer */
footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: black;
}
.footer p{
    text-align: center;
    color: white;
    font-size: 24px;
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}
.footer .social a{
    font-size: 24px;
    color: white;
    border: 2px solid orangered;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0px 8px;
    
    box-shadow: inset 0 0 10px orangered,
                      0 0 10px orangered;
    transition: 0.3s ease;                  
}
.footer .social a:hover{
    color: orangered;
    transform: scale(1.2);
    border: 2px solid orangered;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.footer ul li a:hover{
    border-bottom: 3px solid orangered;
}
.footer ul li{
    display: inline-block;
    padding: 0px 25px;

}
.footer .copyright{
    margin-top: 30px;
    text-align: center;
    font-size: 15px;
    color: white;
}
/* endfooter */

@media(max-width:1285px){
    html{
        font-size: 55%;
    }
    .service-content{
        padding-bottom: 7rem;
        grid-template-columns: repeat(3,1fr);
        margin: 0 5rem;
    }
} 

@media(max-width: 991px){
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .services{
        padding-bottom: 7rem;
    }
    .project{
        padding-bottom: 7rem;
    }
    .contact{
        min-height: auto;
    }
    .footer{
        padding: 2rem 3%;
    }
}
@media(max-width: 895px){
    #menu-icon{
        display: block;
    }
    .navbar{
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background-color: rgba(0, 0, 0, 0.8); 
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid orange;
        border-bottom: 2px solid orange;  
    }
    .navbar .active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: white;
    }
    .navbar .contact{
    
        color: black;
    }
    .navbar .cv{
        color:black;
    }
    .home{
        flex-direction: column;
        margin: 9rem 0rem;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 8rem;
        margin-top: 3rem;
    }
    .home-content p{
        max-width: 600px;
        margin: 0 auto;
        padding: 30px 0;
    }
    .about{
        flex-direction: column;
        bottom: 50%;
    }
    .about-content{
        margin: 0 2rem 4rem;
    }
    .about-img{
        width: 52vw;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .service-box{
        height: 300px;
        width: 300px;        
    }
    .services h2{
        font-size: 25px;
        margin-bottom: 2rem;
    }
    .service-content{
        grid-template-columns: repeat(1,1fr);
    }
    /* .project{
        margin-bottom: 50%;
    } */
    .project h2{
        font-size: 25px;
        margin-bottom: 1rem;
    }
    .project-content{
        grid-template-columns: repeat(1,1fr);
    } 
}
@media(max-width:768px){
    .navbar{
        display: none;
        flex-direction: column;
        width: 40%;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.8); 
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid orange;
        border-bottom: 2px solid orange;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 1;
    }
    html{
        height:100%;
    }
    #menu-icon{
        display: block;
    }

    .navbar.active{
        display: flex;
        justify-content: center;
    }
    .about .about-img{
        width: 72%;
        margin: auto;
    }
    .services .service-box{
        width: 100%;
        margin: auto;
    }
    .project{
        margin-bottom: 10%;
    }
    .project .project-box{
        padding: 20px 0;
    }
    .project .click{
        margin-bottom: 10px;
        padding: 10px 41%;
    }
    .contact .contact-me{
        padding: 100%;
    }
}
@media(max-width:480px){
    html{
        width: 100%;
        height: 100vh;
    }
    #menu-icon{
        display: block;
    }
    .about .about-img{
        width: 100%;
        margin: auto;
    }
    .service-box{
        justify-content: center;
    }
    .project .project-box{
        padding: 20px 0;
    }
    .project .click{
        margin-bottom: 10px;
        padding: 0px 41%;
    }
}        



